<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %F:%L - %m%n" />
    </layout>
  </appender>

  <appender name="appFile" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/OCGames.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %F:%L - %m%n" />
    </layout>
  </appender>

  <appender name="devFile" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/OCGames_developpement.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %F:%L - %m%n" />
    </layout>
  </appender>

  <appender name="testFile" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/OCGames_test.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%F:%L - %m%n" />
    </layout>
  </appender>

  <logger name="test_file" additivity="false">
    <level value="WARN" />
    <appender-ref ref="testFile" />
  </logger>

  <logger name="development_file" additivity="false">
    <level value="WARN" />
    <appender-ref ref="devFile" />
  </logger>

  <logger name="development_console" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="console" />
  </logger>

  <logger name="support_file" additivity="false">
    <level value="WARN" />
    <appender-ref ref="appFile" />
  </logger>

  <root>
    <level value="ERROR" />
    <appender-ref ref="console"/>
  </root>

</log4j:configuration>
